<div id="confirmOrderDialog" data-v-3b9d91bc="" data-v-a475f800="" data-v-c60dea02="" class="dialog_wrap" style="display: none">
    <div data-v-3b9d91bc="" class="dialog" style="width: 45%; min-height: auto; top: 300px; left: 656px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            确认订单
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: auto;">
            <div data-v-a475f800="" data-v-3b9d91bc="" class="order_temp_1">
                <!---->
                <div data-v-a475f800="" data-v-3b9d91bc="" class="table">
                    <div data-v-c187c242="" data-v-a475f800="" class="table-wrap" data-v-3b9d91bc="">
                        <table data-v-c187c242="" class="table small" id="orderDetail">
                            <tr data-v-c187c242="">
                                <th data-v-c187c242="">号码</th>
                                <th data-v-c187c242="">赔率</th>
                                <th data-v-c187c242="">金额</th>
                                <th data-v-c187c242="">确认</th>
                            </tr>

                            @*<tr data-v-c187c242="">
                                <td data-v-c187c242="">
                                    <span data-v-a475f800="" data-v-c187c242="">特码B 23</span>
                                </td>
                                <td data-v-c187c242="">47.35</td>
                                <td data-v-c187c242="">1002</td>
                                <td data-v-c187c242="">
                                    <input data-v-a475f800="" data-v-c187c242="" type="checkbox" value="2550">
                                </td>
                            </tr>*@

                            <!---->
                        </table>
                    </div>
                </div>
                <div data-v-a475f800="" data-v-3b9d91bc="" class="desc">
                    <span data-v-a475f800="" data-v-3b9d91bc="" class="label">组数：</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="tc betCount" style="margin-right: 80px;" id="betCount">3</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="text">总金额：</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="tc betMoney" id="betMoney">3006</span>
                </div>
                <div data-v-a475f800="" data-v-3b9d91bc="" class="event">
                    <button id="confirmBet" data-v-a475f800="" class="t_btn-d active confirmBet" data-v-3b9d91bc="">确定</button>
                    <button data-v-a475f800="" class="t_btn-d cancelBtn" data-v-3b9d91bc="">取消</button>
                </div>
            </div>

        </div>
    </div>
</div>





<div id="confirmOrderDialog2" data-v-3b9d91bc="" data-v-a475f800="" data-v-c60dea02="" class="dialog_wrap" style="display:none;">
    <div data-v-3b9d91bc="" class="dialog" style="width: 45%; min-height: auto;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            确认订单
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: auto;">
            <div data-v-a475f800="" data-v-3b9d91bc="" class="order_temp_1">
                <div data-v-a475f800="" data-v-3b9d91bc="" style="margin-bottom: 5px;">
                    <span data-v-a475f800="" data-v-3b9d91bc="" class="label">已选号码:</span> <span data-v-a475f800="" data-v-3b9d91bc="" id="numSeled">1,2,3,4,5,6；组合如下：</span>
                </div>
                <div data-v-a475f800="" data-v-3b9d91bc="" class="table">
                    <div data-v-c187c242="" data-v-a475f800="" class="table-wrap" data-v-3b9d91bc="">
                        <table data-v-c187c242="" class="table small" id="zuheDetail">
                            <tr data-v-c187c242="">
                                <th data-v-c187c242="">号码</th>
                                <th data-v-c187c242="">赔率</th>
                                <th data-v-c187c242="">金额</th>
                            </tr>
                           @* <tr data-v-c187c242="">
                                <td data-v-c187c242="">
                                    <span data-v-a475f800="" data-v-c187c242="">1,2,3,4,5</span>
                                </td>
                                <td data-v-c187c242="">2.09</td>
                                <td data-v-c187c242="">10</td>
                            </tr>
                           *@
                            <!---->
                        </table>
                    </div>
                </div>
                <div data-v-a475f800="" data-v-3b9d91bc="" class="desc">
                    <span data-v-a475f800="" data-v-3b9d91bc="" class="label">组数：</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="tc betCount" style="margin-right: 80px;">6</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="text">总金额：</span> <span data-v-a475f800="" data-v-3b9d91bc="" class="tc betMoney">60</span>
                </div>
                <div data-v-a475f800="" data-v-3b9d91bc="" class="event">
                    <button data-v-a475f800="" class="t_btn-d active confirmBet" data-v-3b9d91bc="">确定</button>
                    <button data-v-a475f800="" class="t_btn-d cancelBtn" data-v-3b9d91bc="">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
