<div data-v-08b46fc5="" class="notification" style="display:none;">
    <div data-v-0da2e404="" data-v-08b46fc5="" class="message" style="top: 40%; position: fixed; z-index: 99999; font-weight: normal; font-size: 20px; height: 50px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">
        
        <div data-v-0da2e404="" class="message__icon message__icon--error"></div>
        <div data-v-0da2e404="" class="message__content">验证码不能为空</div>

    </div>
</div>



<div role="alert" class="el-message el-message--error notification2" style="top: 20px; z-index: 2010; display: none;">
<i class="el-message__icon el-icon-error">
</i>
<p class="el-message__content">下注错误，未输入金额</p>
<!---->
</div>