

<style>
   .component-page .lh_subtitle_container {
    
        display:none;
    }

</style>


<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 48.2%;">特码A</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 48.2%;">特码B</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 48.2%;">正码A</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 48.2%;">正码B</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 14.8667%;">正1特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 14.8667%;">正2特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 14.8667%;">正3特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 14.8667%;">正4特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 14.8667%;">正5特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 14.8667%;">正6特</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 23.2%;">一肖中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 23.2%;">一肖不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 23.2%;">尾数中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 23.2%;">尾数不中</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 10.7%;">二肖连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">三肖连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">四肖连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">五肖连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">二肖连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">三肖连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">四肖连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">五肖连不中</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 10.7%;">二尾连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">三尾连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">四尾连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">五尾连中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">二尾连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">三尾连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">四尾连不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">五尾连不中</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 12.4857%;">三全中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">三中二</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">三中二X</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">二全中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">二中特</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">二中特X</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">特串</span></div>


<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 10.7%;">五不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">六不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">七不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">八不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">九不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">十不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">十一不中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 10.7%;">十二不中</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 18.2%;">二肖</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">三肖</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">四肖</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">五肖</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">六肖</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 18.2%;">一粒任中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">二粒任中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">三粒任中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">四粒任中</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 18.2%;">五粒任中</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"><span data-v-f3d45a7e="" class="lh_subtitle li_subtitle_active" style="width: 12.4857%;">四中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">五中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">六中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">七中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">八中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">九中一</span><span data-v-f3d45a7e="" class="lh_subtitle" style="width: 12.4857%;">十中一</span></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"></div>

<div data-v-f3d45a7e="" class="lh_subtitle_container"></div>


