<div data-v-c78866b6="" data-v-00f66026="" class="horn-wrap">
                            <div data-v-c78866b6="" class="wrapper horn-horizontal" style="transform: translate3d(-1304px, 0px, 0px);">
                                <div data-v-c78866b6="" class="list">
                                    <div data-v-05260445="" data-v-c78866b6="" class="horn-item horn">
                                        <p data-v-c78866b6="" data-v-05260445="" class="content">
                                            特别提示：请各级代理及会员在登录本网站的手机或电脑等设备上，不要下载或安装：反诈中心APP请各级重视此公告！提示：本公司每天开盘时间为17：00分，封盘时间为21:20分前，请大家提前下注。谢谢！公告：凡是大额注单请提前下注，9点过后出现类似(集团)投注的大额和大量注单，本公司将视为无效注单，并将所有注单取消，不得异议。谢谢合作！请各会员在下注前阅读规则说明。下注后查看明细。下注后一切注单无法更改或取消，敬请注意！开奖后一切投注均视为无效注单。若有任何异动，以澳门博彩公告为准！
                                        </p>

                                        <span data-v-c78866b6="" data-v-05260445="" class="time">2021-06-11</span>


                                     

                                    </div>
                                    <div data-v-05260445="" data-v-c78866b6="" class="horn-item horn">
                                        <p data-v-c78866b6="" data-v-05260445="" class="content">
                                            特别提示：请各级代理及会员在登录本网站的手机或电脑等设备上，不要下载或安装：反诈中心APP请各级重视此公告！提示：本公司每天开盘时间为17：00分，封盘时间为21:25分前，请大家提前下注。谢谢！请各会员在下注前阅读规则说明。下注后查看明细。下注后一切注单无法更改或取消，敬请注意！开奖后一切投注均视为无效注单。若有任何异动，以香港澳门博彩公告为准！
                                        </p>
                                        <span data-v-c78866b6="" data-v-05260445="" class="time">2022-01-20</span>
                                    </div>
                                </div>
                                <div data-v-c78866b6="" class="list copy-wrap" style="margin-left: 20px;">
                                    <div data-v-05260445="" data-v-c78866b6="" class="horn-item horn">
                                        <p data-v-c78866b6="" data-v-05260445="" class="content">
                                            特别提示：请各级代理及会员在登录本网站的手机或电脑等设备上，不要下载或安装：反诈中心APP请各级重视此公告！提示：本公司每天开盘时间为17：00分，封盘时间为21:20分前，请大家提前下注。谢谢！公告：凡是大额注单请提前下注，9点过后出现类似(集团)投注的大额和大量注单，本公司将视为无效注单，并将所有注单取消，不得异议。谢谢合作！请各会员在下注前阅读规则说明。下注后查看明细。下注后一切注单无法更改或取消，敬请注意！开奖后一切投注均视为无效注单。若有任何异动，以澳门博彩公告为准！
                                        </p>
                                        <span data-v-c78866b6="" data-v-05260445="" class="time">2021-06-11</span>
                                    </div>
                                    <div data-v-05260445="" data-v-c78866b6="" class="horn-item horn">
                                        <p data-v-c78866b6="" data-v-05260445="" class="content">
                                            特别提示：请各级代理及会员在登录本网站的手机或电脑等设备上，不要下载或安装：反诈中心APP请各级重视此公告！提示：本公司每天开盘时间为17：00分，封盘时间为21:25分前，请大家提前下注。谢谢！请各会员在下注前阅读规则说明。下注后查看明细。下注后一切注单无法更改或取消，敬请注意！开奖后一切投注均视为无效注单。若有任何异动，以香港澳门博彩公告为准！
                                        </p>
                                        <span data-v-c78866b6="" data-v-05260445="" class="time">2022-01-20</span>
                                    </div>
                                </div>
                            </div>
                            <div data-v-c78866b6="" class="el-dialog__wrapper" style="display: none;">
                                <div role="dialog" aria-modal="true" aria-label="公告" class="el-dialog" style="margin-top: 15vh; width: 80%;">
                                    <div class="el-dialog__header"><span class="el-dialog__title">公告</span>
                                        <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></button>
                                    </div>
                                    <!---->
                                    <div class="el-dialog__footer"><span data-v-c78866b6="" class="dialog-footer">
                                        <button data-v-c78866b6="" type="button" class="el-button el-button--primary">
                                            <!---->
                                            <!---->
                                            <span>关闭</span></button></span></div>
                                </div>
                            </div>
                        </div>