<div data-v-3b9d91bc="" data-v-ed18c500="" class="dialog_wrap" style="">
    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px; top: 309px; left: 674px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            未结明细
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">
            <!---->
            <div data-v-c187c242="" data-v-ed18c500="" class="table-wrap" data-v-3b9d91bc="">
                <table data-v-c187c242="" class="table">
                    <tr data-v-c187c242="">
                        <th data-v-c187c242="">彩票类型</th>
                        <th data-v-c187c242="">注数</th>
                        <th data-v-c187c242="">下注金额</th>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">
                            <a data-v-ed18c500="" data-v-c187c242="" href="javascript:;" class="weijieDetail" cid="1">香港六合彩</a>
                        </td>
                        <td data-v-c187c242="">@ViewBag.count1</td>
                        <td data-v-c187c242="">@ViewBag.m1</td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">
                            <a data-v-ed18c500="" data-v-c187c242="" href="javascript:;" class="weijieDetail" cid="3">澳门六合彩</a>
                        </td>
                        <td data-v-c187c242="">@ViewBag.count2</td>
                        <td data-v-c187c242="">@ViewBag.m2</td>
                    </tr>
                    <!---->
                </table>
            </div>
        </div>
    </div>
</div>
