<div data-v-3b9d91bc="" data-v-05d0109a="" class="dialog_wrap d_wrap" style="">
    <div data-v-3b9d91bc="" class="dialog" style="width: 60%; min-height: 300px; top: 308px; left: 673px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            修改密码
     <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 300px;">
            <div data-v-05d0109a="" data-v-3b9d91bc="" class="update_password">
                <div data-v-05d0109a="" data-v-3b9d91bc="" class="input_wrap">
                    <label data-v-05d0109a="" data-v-3b9d91bc="">
                        <span data-v-05d0109a="" data-v-3b9d91bc="" class="label">旧密码：</span>
                        <input data-v-05d0109a="" data-v-3b9d91bc="" type="password" placeholder="输入旧密码" name="pwd">
                    </label>
                    <label data-v-05d0109a="" data-v-3b9d91bc="">
                        <span data-v-05d0109a="" data-v-3b9d91bc="" class="label">新密码：</span>
                        <input data-v-05d0109a="" data-v-3b9d91bc="" type="password" placeholder="输入新密码" name="pwd2">
                    </label>
                    <label data-v-05d0109a="" data-v-3b9d91bc="">
                        <span data-v-05d0109a="" data-v-3b9d91bc="" class="label">确认新密码：</span>
                        <input data-v-05d0109a="" data-v-3b9d91bc="" type="password" placeholder="输入确认新密码" name="pwd3">
                    </label>
                </div>
                <div data-v-05d0109a="" data-v-3b9d91bc="" class="submit">
                    <button data-v-05d0109a="" class="normal-btn t_btn-d active confirm" data-v-3b9d91bc="">确认</button>
                    <button data-v-05d0109a="" class="normal-btn t_btn-d reset" data-v-3b9d91bc="">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
