@using ShenZhen.Lottery.Model



<div data-v-3b9d91bc="" data-v-d6475828="" class="dialog_wrap" style="">
    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            资金明细
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">
            <div data-v-c187c242="" data-v-d6475828="" class="table-wrap" data-v-3b9d91bc="">
                <table data-v-c187c242="" class="table">
                    <tr data-v-c187c242="">
                        <th data-v-c187c242="">余额</th>
                        <th data-v-c187c242="">变动金额</th>
                        <th data-v-c187c242="">类型</th>
                        <th data-v-c187c242="">备注</th>
                        <th data-v-c187c242="">时间</th>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">36</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-30</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022101]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-11 19:02:46</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">66</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-6</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022101]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-11 19:01:48</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">72</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-12</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022101]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-11 19:01:22</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">84</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-10</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022101]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-11 19:00:29</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">94</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-6</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022101]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-11 18:59:58</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">100</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-0.9</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">还原信用额</span>
                        </td>
                        <td data-v-c187c242="">还原信用额</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-09 21:37:57</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">100.9</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: red;">20.9</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">结算</span>
                        </td>
                        <td data-v-c187c242="">结算[17澳门六合彩]第[2022099]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-09 21:37:25</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">80</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-10</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022099]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-09 21:08:47</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">90</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-10</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022099]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-09 20:37:32</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">100</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: red;">30</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">还原信用额</span>
                        </td>
                        <td data-v-c187c242="">还原信用额</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-07 21:35:48</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">70</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">0</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">结算</span>
                        </td>
                        <td data-v-c187c242="">结算[17澳门六合彩]第[2022097]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-07 21:35:12</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">70</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-30</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022097]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-04-07 21:18:46</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">100</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: red;">20</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">还原信用额</span>
                        </td>
                        <td data-v-c187c242="">还原信用额</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-03-28 21:36:52</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">80</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">0</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">结算</span>
                        </td>
                        <td data-v-c187c242="">结算[17澳门六合彩]第[2022087]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-03-28 21:36:23</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">80</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-10</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022087]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-03-28 20:47:08</span>
                        </td>
                    </tr>
                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">90</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="" style="color: green;">-10</span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">投注</span>
                        </td>
                        <td data-v-c187c242="">投注[17澳门六合彩]第[2022087]期</td>
                        <td data-v-c187c242="">
                            <span data-v-d6475828="" data-v-c187c242="">2022-03-28 20:31:41</span>
                        </td>
                    </tr>
                    <!---->
                </table>
            </div>
        </div>
    </div>
</div>
