@using ShenZhen.Lottery.Model



<div data-v-3b9d91bc="" data-v-c402b53e="" class="dialog_wrap dialog" style="">
    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            历史报表
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">
            <div data-v-c402b53e="" data-v-3b9d91bc="" class="date clearBoth">
            </div>
            <div data-v-c402b53e="" data-v-3b9d91bc="" class="wrap">
                <!---->
                <ul data-v-c402b53e="" data-v-3b9d91bc="" class="table-list">
                    <li data-v-c402b53e="" data-v-3b9d91bc="" class="qc-16">
                        <p data-v-c402b53e="" data-v-3b9d91bc="">上周下注状况</p>
                        <div data-v-c187c242="" data-v-c402b53e="" class="table-wrap table-w" data-v-3b9d91bc="">
                            <table data-v-c187c242="" class="table">
                                <tr data-v-c187c242="">
                                    <th data-v-c187c242="">交易日期</th>
                                    <th data-v-c187c242="">星期</th>
                                    <th data-v-c187c242="">下注金额</th>
                                    <th data-v-c187c242="">注数</th>
                                    <th data-v-c187c242="">退水</th>
                                    <th data-v-c187c242="">输赢</th>
                                    <th data-v-c187c242="">操作</th>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-04</td>
                                    <td data-v-c187c242="">星期一</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-05</td>
                                    <td data-v-c187c242="">星期二</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-06</td>
                                    <td data-v-c187c242="">星期三</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-07</td>
                                    <td data-v-c187c242="">星期四</td>
                                    <td data-v-c187c242="">30</td>
                                    <td data-v-c187c242="">1</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">-30</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-08</td>
                                    <td data-v-c187c242="">星期五</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-09</td>
                                    <td data-v-c187c242="">星期六</td>
                                    <td data-v-c187c242="">20</td>
                                    <td data-v-c187c242="">2</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">0.9</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-10</td>
                                    <td data-v-c187c242="">星期日</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">上周合计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">50</td>
                                    <td data-v-c187c242="">3</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">-29.1</span>
                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <!---->
                            </table>
                        </div>
                        <p data-v-c402b53e="" data-v-3b9d91bc="">本周下注状况</p>
                        <div data-v-c187c242="" data-v-c402b53e="" class="table-wrap table-w" data-v-3b9d91bc="">
                            <table data-v-c187c242="" class="table">
                                <tr data-v-c187c242="">
                                    <th data-v-c187c242="">交易日期</th>
                                    <th data-v-c187c242="">星期</th>
                                    <th data-v-c187c242="">下注金额</th>
                                    <th data-v-c187c242="">注数</th>
                                    <th data-v-c187c242="">退水</th>
                                    <th data-v-c187c242="">输赢</th>
                                    <th data-v-c187c242="">操作</th>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-11</td>
                                    <td data-v-c187c242="">星期一</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-12</td>
                                    <td data-v-c187c242="">星期二</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-13</td>
                                    <td data-v-c187c242="">星期三</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-14</td>
                                    <td data-v-c187c242="">星期四</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-15</td>
                                    <td data-v-c187c242="">星期五</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-16</td>
                                    <td data-v-c187c242="">星期六</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">2022-04-17</td>
                                    <td data-v-c187c242="">星期日</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242="">
                                        <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review">查看</a>
                                    </td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">本周合计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="">0</span>
                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">两周总计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">50</td>
                                    <td data-v-c187c242="">3</td>
                                    <td data-v-c187c242="">0</td>
                                    <td data-v-c187c242="">
                                        <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">-29.1</span>
                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <!---->
                            </table>
                        </div>
                    </li>
                    <!---->
                    <!---->
                    <!---->
                </ul>
            </div>
        </div>
    </div>
</div>
